.businesssupportsection {
    background-color: #101010;
  }
  
  .businesssupportsectionheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .businesssupportsectionheader > h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 37.7415px;
    line-height: 46px;
    text-align: center;
    color: #bbbbbb;
  }
  
  .businesssupportcustomercontainer {
    display: flex;
    padding: 30px 35px;
    gap: 20rem;
  }
  
  .businesssupportcustomercontainerleft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }
  
  .businesssupportverticleline {
    border-left: 1px solid #343434;
    height: 400px;
  }

.businesssupportcustomercontainerright{
  width:800px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.businesssupportcustomertop{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.businesssupportcustomertoplist{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
  border-radius: 15px;
  height: 84px;
  padding: 0px 15px;
}

.businesssupportcustomertoplistleft{
  display: flex;
  align-items: center;
  gap: 15px;
}

.businesssupportcustomertoplistleft > span{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 29px;
font-size: 24px;
color: #989898;
}

.businesssupportcustomertoplistright > span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #989898;
}

.businesssupportcustomerbottomlist{
  background-color: #1A1A1A;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.businesssupportcustomerbottomlistleft{
  display: flex;
  align-items: center;
  gap: 15px;
}

.businesssupportcustomerbottomlistleft > span{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #989898;
}

.businesssupportcustomerbottomlistright{
  display: flex;
  align-items: center;
}