.businessnotificationssection {
  background-color: #101010;
}

.businessnotificationssectionheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.businessnotificationssectionheader > h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 37.7415px;
  line-height: 46px;
  text-align: center;
  color: #bbbbbb;
}

.businessnotificationscustomercontainer {
  display: flex;
  padding: 30px 35px;
  gap: 20rem;
}

.businessnotificationscustomercontainerleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  position: relative;
  bottom: 1.65rem;
}

.businessnotificationsverticleline {
  border-left: 1px solid #343434;
  height: 400px;
}
