.businessphotocontainer{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.businessphotocontainertop {
    /* background-color: blue; */
}

.businesscoverimage{
    background: #1A1A1A;
border-radius: 5px;
width: 700px;
height: 286px;
}

.businessphotocontainermid{
    background: #2E2E2E;
border-radius: 5px;
width: 220px;
height: 220px;
position: relative;
left: 27rem;
bottom: 10rem;
}